{
  "extends": "react-app",
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "@typescript-eslint/explicit-member-accessibility": [
          "error",
          {
            "accessibility": "explicit",
            "overrides": {
              "constructors": "off"
            },
            "ignoredMethodNames": [
              "getDerivedStateFromProps",
              "render",
              "componentDidMount",
              "shouldComponentUpdate",
              "getSnapshotBeforeUpdate",
              "componentDidUpdate",
              "componentWillUnmount",
              "getDerivedStateFromError",
              "componentDidCatch",
              "defaultProps",
              "displayName"
            ]
          }
        ]
      }
    }
  ]
}
